.*
!.gitignore
!.gitattributes
*.token
*.pyc
*.iml
*.class
*.log
/.project
*/classes/*
*~
wrapper/
/bin/
/server/bin/
/client-web/bin/
/cloudSecurityPlugin/bin/
/globalPropertiesPlugin/bin/
/jobSchedulerPlugin/bin/
/testManager/bin/
build/

*/out/*
*/target/*
/server/src/main/resources/configurations/custom.groovy